:root {
    --main-color: #b2b2b2;
    --grey: #f5f5f5;
    --dark-grey: #dedede;
    --black: #000000;
    --white: #ffffff;
    --brown: #101010;
    --brown2: #3f3f3f;
    --background: #171717;
    --accent-color: #1acb83;
}