.password-field__input {
    position: relative;

    width: fit-content;
}

.password-field__input span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    cursor: pointer;
}

.password-field__input span img {
    width: 20px;
    height: auto;
    object-fit: cover;
}
