.password-field__input {
    position: relative;

    width: fit-content;
}

.password-field__eye {
    position: absolute;
    top: 12px;
    left: 130px;
    transform: translateY(-50%);

    cursor: pointer;
}

.password-field__eye img {
    width: 20px;
    height: auto;
    object-fit: cover;
}
