.button {
    margin-top: 1.5rem;

    padding: 1rem 2rem;
    width: fit-content;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--white);

    background-color: var(--main-color);
    border-radius: 10px;
}

.button_active {
    filter: brightness(1.2);
}

.button_reset {
    margin-left: 2rem;
    filter: grayscale(1);
}