.main {
    margin-top: 10rem;
}

.loading:before {
    content: 'Loading';

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.1);
    border-radius: 20px;
    backdrop-filter: blur(3px);
}