.balloon {
  position: absolute;

  border: 3px solid var(--accent-white);

  border-radius: 50%;
  backdrop-filter: blur(10px);

  &:hover {
    background: var(--accent-dark-grey2);

    filter: drop-shadow(1px 1px var(--accent-white));

    &:after,
    &:before {
      background-color: var(--accent-white);
    }
  }

  &:after,
  &:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 100%;
    height: 1px;

    background: var(--accent-blue);
  }

  &:after {
    transform: translate(-50%, -50%);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}