.add-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    margin-top: 5rem;
    border: 1px solid var(--black);

    background-color: var(--brown2);
    border-radius: 20px;
    box-shadow: 0 0 20px 3px var(--brown);
}

.add-form .form-field:not(:last-of-type) {
    margin-bottom: 1rem;
}