@media screen and (max-width: 800px) {
    .header__tools {
        width: 50vw;
    }

    .welcome {
        min-height: 82rem;
    }

    .welcome__decoration:nth-of-type(1) {
        left: 2rem;
    }

    .welcome__decoration:nth-of-type(2) {
        right: 5rem;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .characteristics {
        padding: 8rem 0;
    }

    .info-section, .info-section:last-of-type {
        margin-bottom: 10rem;
    }

    .info-section .container {
        flex-direction: column!important;
    }

    .info-section__description {
        margin-bottom: 3rem;
        width: 100%;
    }

    .info-section__image {
        width: 60%;
        max-width: unset;
    }
}