.login {
    display: flex;
    align-items: center;
}

.login > svg {
    margin-right: .4rem;
    width: 1.6rem;
    height: 1.6rem;
}

.login span {
    font-family: 'Circular Std', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}