.add-form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: 1px solid var(--black);

    background-color: var(--grey);
    border-radius: 20px;
}

.add-form .form-field:not(:last-of-type) {
    margin-bottom: 1rem;
}