.form-field {
    position: relative;

    display: block;
    padding: 1.3rem 1.6rem;
    border: 2px solid var(--black);

    border-radius: 1rem;

    cursor: text;
    transition: .3s ease-in-out;
}

.form-field_incorrect {
    border-color: red;
}

.form-field_correct {
    border-color: var(--accent-color);
}

.form-field_incorrect .form-field__prompt {
    transform: translateY(calc(100% + .5rem));

    opacity: 1;
}

.form-field__prompt {
    position: absolute;
    bottom: 0;
    left: 0;

    color: red;

    transition: .3s ease-in-out;
}

.form-field__input {
    width: 100%;


    color: var(--brown);
    line-height: 1;

    background-color: transparent;

    pointer-events: all;
}

.form-field__input::placeholder {
    line-height: 1;
    color: var(--brown);
}

.form-field > input[type="number"]::-webkit-outer-spin-button,
.form-field > input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
